In [1]:
import numpy as np
from scipy.optimize import minimize
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Load in your data
data = pd.read_csv('/Users/sriskandhakandimalla/Documents/PSYCH119/LumositySample_user30222.csv')
t = data.gameplay
obsy = data.score

In [3]:
# Remove rows with missing 'score' values
cleaned_data_user_30222 = data.dropna(subset=['score'])
cleaned_data_user_30222.head()

,gameplay,score,session,gameplay_withinsession,timestamp,dayselapsed
0,1,35.0,1,1,22-Sep-2015 22:02:00,0.000000
1,2,43.0,1,2,22-Sep-2015 22:03:12,0.000833
3,4,38.0,2,1,27-Sep-2015 14:38:56,4.692315
4,5,46.0,2,2,27-Sep-2015 14:40:08,4.693148
5,6,47.0,3,1,01-Oct-2015 18:56:04,8.870880

In [4]:
# Define the exponential model function
def exp_model(t, a, u, c):
    return a - (a - u) * np.exp(-c * t)

# Define the function to calculate the mean squared error (MSE) for the exponential model
def calc_mse_exp(params, t, obsy):
    a = params[0]
    u = params[1]
    c = params[2]
    predy = exp_model(t, a, u, c)
    mse = np.mean((predy - obsy)**2)
    return mse

In [5]:
initial_guesses_exp = [max(cleaned_data_user_30222['score']) + 10,  # a
                       min(cleaned_data_user_30222['score']),  # u
                       0.01]  # c

In [6]:
bounds_exp = [(max(cleaned_data_user_30222['score']), None),  # Bound for 'a'
              (0, None),  # Bound for 'u' to be positive
              (0, None)]  # Bound for 'c' to be positive

In [7]:
result_exp = minimize(calc_mse_exp, initial_guesses_exp, args=(t, obsy), bounds=bounds_exp)
a_fit_exp, u_fit_exp, c_fit_exp = result_exp.x
mse_exp = result_exp.fun

a_fit_exp, u_fit_exp, c_fit_exp, mse_exp

(66.86347363972156, 40.82439225186066, 0.022993769034040816, 7.153931170453514)